<div class="chessboard">
  <div class="label top-label"></div>
  <div class="label top-label">A</div>
  <div class="label top-label">B</div>
  <div class="label top-label">C</div>
  <div class="label top-label">D</div>
  <div class="label top-label">E</div>
  <div class="label top-label">F</div>
  <div class="label top-label">G</div>
  <div class="label top-label">H</div>

  <ng-template ngFor let-row [ngForOf]="rows" let-i="index">
    <div class="label side-label">{{i + 1}}</div>
    <app-square *ngFor="let square of row" [square]="square"></app-square>
  </ng-template>
</div>

<app-pawn-promotion *ngIf="pawnPromotion$ | async as promotion"
                    [promotion]="promotion"
                    (onReplace)="onPawnReplace($event)"></app-pawn-promotion>
