.chessboard {
  display: grid;
  grid-template-columns: 20px repeat(8, 70px);
  grid-template-rows: 20px repeat(8, 70px);
  width: 560px;
  height: 560px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.top-label {
  grid-row: 1;
}

.side-label {
  grid-column: 1;
}
